[flake8]
max-line-length = 99
extend-ignore =
    # E501: line too long (we use a more modern limit of 99)
    E501,
    # W503: line break before binary operator (this is compatible with modern formatters like black)
    W503,
    # E203: whitespace before ':' (also for black compatibility)
    E203
exclude =
    .git,
    __pycache__,
    .venv,
    migrations/